.flipped {
    transform: rotate(0deg);
}

body {
    background: #FFE4E1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.video {
    transform: rotate(180deg);

}

.vid-container {
    width: 760px;
    height: 427.5px;
    margin: 0 auto;
}

#flipButton {
    width: 80px;
}

@media (max-width: 600px) {
    .vid-container {
        width: 290px;
        height: 163.13px;
    }
}