body {
    background: #FFE4E1;
    font-family: garamond;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding-bottom: 2%;
}
p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
    text-align: center;
    display:block;
}

#myprojects {
    float: left;
}

#home {
 vertical-align: top; 
}

#aboutme {
    float: right;
    padding-left: 17px;
}

#flowersleft {
  padding-right: 3%;
  width: 177px;
}

#flowersright {
  padding-left: 3%;
  width: 177px;
}

#me {
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 20px;
    border: 8.5px ridge #FFFDD0;
}

#me:active {
  border: 8.5px groove #FFFDD0;
}

/*iframe {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
*/
h4 {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #FFFDD0
}

h3 {
    text-align: center;
  }

nav {
    font-family: 'Times New Roman', Times, serif;
  }

img:hover {
  cursor: crosshair;
}

a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
  }

a:visited {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
  }
  
a:active {
    color:blue;
    background-color: transparent;
    text-decoration: underline;
  }

    /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.3s;
}

.smallsize {
  width: 50%;
}
      
@keyframes fade {
    from {opacity: .15}
    to {opacity: 1}
      }

@media only screen and (max-width: 600px) {
  #helloworld {
    font-size: 210%;
  }
  #prevbutton, #nextbutton {
    padding: 10px;
  }
  .prev, .next {
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 7px 7px 7px 7px;
    user-select: none;
    text-decoration: #FFFDD0;
    outline-color: #000000;
  }
  img.smallsize {
    width: 72%;
  }
  .next {
    right: 4%;
  }
  
  .prev {
      left: 4%;
  }
  #flowersleft {
    width: 55px;
    padding-right: 5%;
  }
  
  #flowersright {
    width: 55px;
    padding-left: 5%;
  }

  nav {
    margin-bottom: 3.5%;
}
}


/* follow is for drawing square
canvas {
    border: 10px solid black;
    width: 360px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
*/

  /* following is for the moving stuff
  #myPics {
    position: absolute;
    border: 1px solid red;
    top: 0;
    left: 0;  
}

*/